.site-header {
  position: relative;
  padding: 1em;
  color: #FFFFFF;
  background-color: $color__header_background;

  @media screen and (min-width: 900px){
    padding: 1em 2em;
  }
}

.icon-logo {
  width: 30px;
  height: 20px;
  color: #6c6c6c;
  transition: color .3s linear 0s;
  fill: currentColor;
  visibility: visible;
}